// Place all the styles related to the allocations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.selectAlocar {
  width: 100%;
}

#select-room {
  width: 50%;
  margin-bottom: 10px;
}

.button-filter {
  margin-left: 0% !important;
}
#room-allocation-card {
  border-width: small;
  border-style: solid;
  border-color:#C0C0C0;
}

.allocation-card-cell {
  background-color: #FFFFFF;
}

.schoolRoomCard {
  background: rgb(185, 185, 185);
  border-bottom: 5px solid silver;
  border-left: 5px solid silver;
  border-top: 5px solid silver;
}

.sticky {
  position: fixed;
  top: 0em;
  width: 113rem;
}