// Place all the styles related to the school_rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-check-circle {
	color: #3ac75f;
}

.fa-times-circle {
	color: #f23d3d;
}

.fa-trash {
	color: #f23d3d;
}

.search-elements {
  display: inline-block;
  position:relative;
  left:15px;
  top: -8px;
}


.added-courses {
  display: inline-block;
  position:relative;
  left:15px;
  top: -5px;
}

.position-of-word-add {
  position:relative;
  left:15px;
  color: #ffffff;
}

.position-of-word-courses {
  position:relative;
  left:0px;
  top: 8px;
  color: #ffffff;
}

.icon-search-submit {
  position:relative;
  border: 0px;
  left:15px;
  background-color: #2B32b7;
}

.allocate-plus {
	color: #428bca;
	font-size: 2em;
}

.already-allocate-plus {
	color: #BDBDBD;
	font-size: 2em;
}

.allocate-minus {
	color: #d9534f;
	font-size: 2em;
}

.not-allocated-minus {
	color: #BDBDBD;
	font-size: 2em;
}
.solicitation {
	color: #76B856;
	font-size: 2em;
}

.edit-allocation {
	color: black;
	font-size: 2em;
}

.search-input {
  padding: 5%;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

.search-input:focus {
  border-bottom-width: 2px;
}

.school-room-allocated {
	background: #ffff99;
}

ul.pagination.pagination {
  float: right;
  padding-right: 10px;
}

//school room reports
.report_school label{
  padding-right: 20px !important;
  margin-top: -7px !important;
}

.search-result-block {
  align-items: start;
  justify-content: flex-start !important;
}

.search-result-block > div {
  margin-right: 100px;
}

.fa {
  padding-right: 10px;
}

.button-filter {
  margin-left: 100%;
  margin-top: 21%;
}

.button-new {
  margin-top: 10%;
}
